:root {
  font-family: "Onest";
  line-height: 1.5;
  font-weight: 400;
  background-color: #EAE6E1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nav {
  font-size: 23px;
  font-weight: 500;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opened {
	height: 100vh;
}

.nav-options {
	display: none;
}

.nav-options li .active {
	border-bottom: 2px solid #A74D4A;  
}

.nav-logos {
	display: none;
}

.burger-menu {
	display: none;
}

.burger-menu li .active {
	border-bottom: 2px solid #A74D4A;  
}

.burger-menu ul {
	list-style-type: none;
	font-size: 36px;
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.burger-menu div:nth-child(2) {
	display: flex;
	gap: 20px;
}

.burger-menu-open {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 300px;
}

header {
  margin-bottom: 40px;
}

header div {
  text-align: center;
  font-size: 15px;
  padding: 0px 10px;
}

.gallery-header h1 {
	font-size: 40px;
	font-weight: 400;
	padding-left: 20px;
}


.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
	border: none;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 80%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #A74D4A;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #A74D4A;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

.main {
  position: relative;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 60px;
  max-width: 558px;
}

.main-gallery {
	position: relative;
	margin: 0 auto;
	width: 90%;
	margin-bottom: 60px;
	max-width: 558px;
}

.main-gallery-disabled {
	display: none;
}

.main-gallery img {
	width: 100%;
  	object-fit: cover;
  	height: 244px;
}

.main-gallery ul {
	list-style-type: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 50% 50%;
}

.main-gallery :nth-child(1) {
	grid-column: span 2;
}

.main img {
  width: 100%;
  object-fit: cover;
  height: 244px;
  transition: opacity 0.5s ease;
}

.main:hover img {
  opacity: 0.3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 342px;
  margin: 0 auto;
  opacity: 0; 
  transition: opacity 0.5s ease; 
}

.overlay-gallery {
	opacity: 1;
}

.overlay-gallery svg:nth-child(1) {
	bottom: 125px;
	left: 262px;
	color: red;
}

.overlay-gallery svg:nth-child(2) {
	bottom: 125px;
	left: 298px;
	background: #ffffff66;
	border-radius: 10px;
}

.overlay-column {
	flex-direction: column;
	gap: 10px;
}

.main:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: black;
  background-color: rgba(74, 74, 74, 0.3);
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.like {
	position: absolute;
	bottom: 60px;
	left: 135px;
	cursor: pointer;
}

.favorite {
	color: red;
}

.download {
	position: absolute;
	bottom: 60px;
	right: 135px;
	cursor: pointer;
}

.write {
	bottom: 12px;
	position: absolute;
}

.contact {
	text-align: center;
	margin-bottom: 100px;
}

.contact div {
	padding: 0px 30px
}

.contact button {
	background: #A74D4A;
	color: white;
	padding: 20px 30px;
	margin: 10px;
	border: none;
	cursor: pointer;
}

footer {
	text-align: center;
}

footer div {
	display: flex;
	justify-content: center;
	gap: 10px;
}

footer svg {
	cursor: pointer;
}

@media only screen and (min-width: 1000px) {
	.nav-options {
		display: block;
		font-size: 18px;
	}

	.nav-options ul {
		display: flex;
		gap: 14px;
	}

	.nav-options li {
		display: inline;
		cursor: pointer;
	}

	.nav p {
		font-size: 34px;
		margin-top: 24px;
	}

	.nav-logos {
		display: flex;
		gap: 16px;
		padding-right: 40px;
	}
	.hamburger-react {
		display: none;
	}

	header {
		margin-top: 100px;
		margin-bottom: 110px;
	}

	header h1 {
		font-weight: 500;
	}

	header div {
		max-width: 980px;
		margin: 0 auto;
	}

	main {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.main {
		max-width: 1098px;
	}

	.main img {
		height: 456px;
	}

	.main svg {
		bottom: 150px;
	}

	.contact {
		grid-column: span 2;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 100px;
	}
}

@media only screen and (min-height: 750px) {
	.burger-menu {
		padding-top: 200px;
	}
}